body {
    background: #0D090A;
    color: #EAF2EF;
    width: 1400px;
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
}

.full-width {
    width: 1200px;
    margin: 0 auto;
}

.half-width {
    width: 600px;
    float: left;
}

.third-width {
    width: 400px;
    float: left;
}

/* Header section */

header {
    height: 700px;
    background: url(../img/hero.jpg);
    background-size: cover;
}

header h1 {
    font-size: 30px;
}
/* Nav bar */

nav {
    float: right;
}

ul li {
    display: inline-block;
}

nav ul li a {
    padding-left: 45px;    
}

ul li a {
    text-decoration: none;
    font-size: 30px;
    color: #EAF2EF;

}

header h2 {
    width: 1000px;
    clear: both;
    font-size: 50px;
    color: #FFBD3F;
    margin: auto;
    padding: 140px 10px 0 10px;
    text-align: center;
    font-family: 'Merriweather', serif;
}

/* Portfolio section */

#portfolio {
    height: 1300px;
}

section  h3 {
    color: #FFBD3F;
    padding: 20px 0 40px 0;
    text-align: center;
    font-size: 40px;
    font-family: 'Merriweather', serif;
}

.thumbnail {
    height: 300px;
    width: 550px;
    border: solid white 1px;
}

.designs {
    height: 400px;
}


.designs h5 {
    font-size: 26px;
}

 h6 {
    font-size: 18px;
}

.designs p {
    padding-right: 50px;
}

#about {
    height: 550px;
}
#about p{
    margin-top: 30px;
    padding-top: 20px;
}

#social-media li a {
    color: #EAF2EF;
}

#social-media li a:hover {
    color: #FFBD3F;
}

#social-media ul li a {
    padding: 10px;
}

#contact{
    text-align: center;
    height: 210px;
}

#contact h6 {
    color: #FFBD3F;
}